footer {

    #bottom-banner {
        background: $dark-violet;
        padding: 4em 1.5em;
        position: relative;
        overflow: hidden;
        z-index: 1;
        
        h2 {
            color: white;
            font-weight: 700;
            text-align: center;
            padding-bottom: .5em;
        }

        button {
            text-align: center;
            display: block;
            margin: 0 auto;
            font-size: 1rem;
        }

        &:before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='375' height='300' viewBox='0 0 375 300'%3E%3Cg fill='%234B3F6B' fill-rule='evenodd'%3E%3Cpath d='M-263.351 570.909c29.685 77.331 73.689 123.988 171.79 127.377 98.102 3.39 167.085-60.547 256.043-73.22 88.958-12.674 135.24 107.895 240.73 152.532 105.488 44.638 274.775.333 377.9-125.622C886.24 526.021 878.62 327.29 799.392 238.798 720.162 150.307 608.257 84.743 243.5 224.76c-364.757 140.017-536.537 268.818-506.852 346.149zM-514-377.482c0 82.833 24.36 142.16 114.732 180.482 90.371 38.321 177.686 3.352 265.277 23.4 87.59 20.048 87.59 149.195 170.077 228.671 82.486 79.476 256.405 98.781 397.82 18.15 141.415-80.632 205.52-268.896 163.267-379.902C554.919-417.687 473.943-519 83.236-519S-514-460.314-514-377.482z'/%3E%3C/g%3E%3C/svg%3E");
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
            height: auto;
            display: block;
            z-index: -1;
        }
    }

    #footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $very-dark-violet;
        padding: 3em 0;

        .all-footer-menus {
            display: flex;
            flex-direction: column;
            align-items: center;

            .footer-items {
                h3 {
                    text-align: center;
                    color: white;
                    font-size: .8rem;
                    font-weight: 700;
                    padding: 3em 0 .5em 0;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    li {
                        padding-top: .5em;

                        a {
                            color: $gray;
                            font-size: .8rem;
                        }

                        &:hover, &:focus {
                            a {
                                color: $cyan;
                            }
                        }
                    }
                }
            }
        }

        .social-media {
            padding-top: 3em;
            width: 100%;
            text-align: center;

            svg {
                &:not(:first-child) {
                    margin: 0 0 0 1em;
                }

                &:hover, &:focus {
                    path {
                        fill: $cyan;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .attribution {
        background: $very-dark-violet;
        font-size: .8rem;
        color: white;
        text-align: center;

        a {
            color: white;
            text-decoration: underline;
        }
    }
}