footer {

    #bottom-banner {
        background: $dark-violet;
        padding: 4em 1.5em;
        
        h2 {
            color: white;
            font-weight: 700;
            text-align: center;
            padding-bottom: .5em;
        }

        button {
            text-align: center;
            display: block;
            margin: 0 auto;
            font-size: 1rem;
        }
    }

    #footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $very-dark-violet;
        padding: 3em 0;

        .all-footer-menus {
            display: flex;
            flex-direction: column;
            align-items: center;

            .footer-items {
                h3 {
                    text-align: center;
                    color: white;
                    font-size: .8rem;
                    font-weight: 700;
                    padding: 3em 0 .5em 0;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    li {
                        padding-top: .5em;

                        a {
                            color: $gray;
                            font-size: .8rem;
                        }

                        &:hover, &:focus {
                            a {
                                color: $cyan;
                            }
                        }
                    }
                }
            }
        }

        .social-media {
            padding-top: 3em;
            width: 100%;
            text-align: center;

            svg {
                &:not(:first-child) {
                    margin: 0 0 0 1em;
                }

                &:hover, &:focus {
                    path {
                        fill: $cyan;
                    }
                }
            }
        }
    }

    .attribution {
        background: $very-dark-violet;
        font-size: .8rem;
        color: white;
        text-align: center;

        a {
            color: white;
            text-decoration: underline;
        }
    }
}