header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    padding: 2em 1em 0 1em;
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    #hamburger-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
                flex-direction: column;
        height: 26px;
        width: 30px;
        
        span {
            width: 30px;
            height: 4px;
            background: $grayish-violet;

            &:not(:first-child) {
                margin-top: 7px;
            }
        }
    }

    .header-menu {
        position: absolute;
        width: calc(100% - 2em);
        height: auto;
        top: 16vh;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
                align-items: center;
        background: $dark-violet;
        border-radius: 10px;
        padding: 2em 1.5em;

        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                    justify-content: space-between;
            border-bottom: 1px solid rgb(97, 96, 96);
            width: 100%;
            
            li {
                text-align: center;

                a{
                    color: white;
                    font-weight: 700;
                }

                &:not(:first-child) {
                    margin-top: 2em;
                }

                &:last-child {
                    margin-bottom: 2em;
                }
            }
        }

        .header-user-action {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
                    flex-direction: column;
            width: 100%;

            button {
                margin-top: 2em;

                &:first-child {
                    border: none;
                    background: transparent;
                    color: white;
                    font-size: 1rem;
                    font-weight: 700;
                }

                &:last-child {
                    width: 100%;
                    font-size: 1rem;
                }
            }   
        }

        &.show {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }
}