@media screen and (min-width: 750px) {
    header {
        padding: 2em 2em 0 2em;
    }

    #section-1 {
        flex-direction: row-reverse;
        padding: 2em 2em 4em 2em;

        img {
            width: 50%;
            height: auto;
        }


    }

    #section-2 {
        margin: 0 auto -2.3rem auto;

        form {
            flex-direction: row;

            label {
                width: 70%;
                padding: 0 1em 0 0;

                input {
                    width: 100%;
                    font-size: 1rem;
                }
            }

            button {
                width: 30%;
                padding: .7em 1.5em;
            }
        }
    }

    footer {
        #footer-nav {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            padding: 2em;

            .logo-white {
                width: auto;
            }

            .all-footer-menus {
                flex-direction: row;
                align-items: baseline;
                justify-content: space-evenly;

                .footer-items {
                    h3 {
                        padding: 0;
                    }

                    &:not(:first-child) {
                        padding: 0 0 0 1em;
                    }
                }
            }

            .social-media {
                width: auto;
                padding: 0;
            }
        }
    }
}