@media screen and (min-width: 1100px) {
    header {
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
        padding: 2em 5em 0 5em;

        #hamburger-menu {
            display: none;
        }

        .header-menu {
            position: static;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
                    flex-direction: row;
            padding: 0;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
                    align-items: center;
            width: calc(100% - 121px);
            background: unset;
            padding: 0 0 0 3em;

            ul {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-pack: unset;
                -ms-flex-pack: unset;
                        justify-content: unset;
                border: none;

                li {

                    a {
                        color: $grayish-violet;
                        font-size: .9em;
                    }

                    &:not(:first-child) {
                        margin: 0 0 0 1.5em;
                    }
    
                    &:last-child {
                        margin: 0 0 0 1.5em;
                    }

                    &:hover, &:focus {
                        a {
                            color: $very-dark-violet;
                        }
                    }
                }
            }

            .header-user-action {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                        justify-content: flex-end;
                -webkit-box-align: center;
                -ms-flex-align: center;
                        -ms-grid-row-align: center;
                        align-items: center;
    
                button {
                    margin: 0;
                    font-size: .9em;
                    cursor: pointer;

                    &:first-child {
                        color: $grayish-violet;
                        margin: 0 2em 0 0;

                        &:hover, &:focus {
                            color: $very-dark-violet;
                        }
                    }
    
                    &:last-child {
                        width: auto;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    
    #section-1 {
        padding: 2em 5em 4em 5em;

        .illustration-intro {
            left: 15%;
        }

        .text-intro {
            margin: 0 auto 0 0;
            max-width: 500px;
            text-align: left;

            h1 {
                text-align: left;
                font-size: 3em;
            }

            p {
                text-align: left;
            }

            button {
                -ms-flex-item-align: start;
                align-self: flex-start;
            }
        }

    }

    #section-2 {
        margin: 0 auto -3.3em auto;
        width: calc(100% - 10em);
        padding: 2em;

        form {
            label {
                width: 70%;
            }

            button {
                width: 30%;
            }
        }

        &:before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1110' height='168' viewBox='0 0 1100 168'%3E%3Cpath fill='%234B3F6B' fill-rule='evenodd' d='M647-93.924c0 52.724 15.5 90.486 73 114.877 57.5 24.391 113.055 2.134 168.786 14.894 55.731 12.76 55.731 94.962 108.214 145.549s163.142 62.874 253.12 11.552c89.976-51.322 130.765-171.152 103.88-241.807C1327.115-119.515 1275.593-184 1027-184c-248.593 0-380 37.353-380 90.076zm-781 213c0 52.724 15.5 90.486 73 114.877 57.5 24.391 113.055 2.134 168.786 14.894 55.731 12.76 55.731 94.962 108.214 145.549s163.142 62.874 253.12 11.552C559.095 354.626 599.884 234.796 573 164.141 546.115 93.485 494.593 29 246 29c-248.593 0-380 37.353-380 90.076z'/%3E%3C/svg%3E");
            right: 0;
            left: unset;
        }
    }

    #section-3 {
        padding: 2em 5em 3em 5em;

        .presentation-intro {
            padding: 6em 0 0 0;
            
            h2 {
                font-size: 1.8em;
            }

            p {
                font-size: 1em;
                max-width: 600px;
            }
        }

        .presentation-cards {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                    justify-content: space-between;

            .card {
                min-height: 251px;
                width: 90%;
                max-width: 290px;

                .icon-card {
                    margin: 0 auto -35px 2em;
                }

                .text-card {
                    padding: 4em 2em 2em 2em;
                    h3 {
                        text-align: left;
                    }
    
                    p {
                        text-align: left;
                    }
                }

                &:nth-child(2) {
                    margin-top: 2em;
                }

                &:last-child {
                    margin-top: 3.8em;
                }
            }
        }

        .presentation-cards:before {
            content: '';
            position: absolute;
            top: 49%;
            left: 5em;
            width: calc(100% - 7em);
            height: 6px;
            background: $cyan;
            z-index: -1;
        }
    }

    footer {

        #bottom-banner {
            padding: 3.5em 1.5em;

            h2 {
                font-size: 2em;
            }

            &:before {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='250' viewBox='0 0 1440 250'%3E%3Cg fill='%234B3F6B' fill-rule='evenodd'%3E%3Cpath d='M830-63.482C830 19.351 854.36 78.678 944.732 117c90.371 38.321 177.686 3.352 265.277 23.4 87.59 20.048 87.59 149.195 170.077 228.671 82.486 79.476 256.405 98.781 397.82 18.15 141.415-80.632 205.52-268.896 163.267-379.902C1898.919-103.687 1817.943-205 1427.236-205S830-146.314 830-63.482zM-263.351 570.909c29.685 77.331 73.689 123.988 171.79 127.377 98.102 3.39 167.085-60.547 256.043-73.22 88.958-12.674 135.24 107.895 240.73 152.532 105.488 44.638 274.775.333 377.9-125.622C886.24 526.021 878.62 327.29 799.392 238.798 720.162 150.307 608.257 84.743 243.5 224.76c-364.757 140.017-536.537 268.818-506.852 346.149zM-514-377.482c0 82.833 24.36 142.16 114.732 180.482 90.371 38.321 177.686 3.352 265.277 23.4 87.59 20.048 87.59 149.195 170.077 228.671 82.486 79.476 256.405 98.781 397.82 18.15 141.415-80.632 205.52-268.896 163.267-379.902C554.919-417.687 473.943-519 83.236-519S-514-460.314-514-377.482z'/%3E%3C/g%3E%3C/svg%3E");
            }
        }

        #footer-nav {
            padding: 3em 5em;
            -webkit-box-align: start;
            -ms-flex-align: start;
                    -ms-grid-row-align: flex-start;
                    align-items: flex-start;
            
            .all-footer-menus {
                width: calc(100% - 285px);
                height: 100%;
            }
        }
    }
}