#section-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    padding: 2em 1em 3em 1em;
    background: $light-gray;
    position: relative;
    z-index: 1;

    #user-results {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
                flex-direction: column;
        margin: 4em 0 0 0;
        width: 100%;
        max-width: 1440px;
        overflow-x: hidden;

        li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
                    flex-direction: column;
            background: white;
            border-radius: 10px;
            padding: 1em;
            width: 100%;

            .long-link {
                padding: 0 0 1em 0;
                font-size: 1rem;
                border-bottom: 1px solid $light-gray;
                overflow: hidden;
                word-wrap: break-word;
                white-space: pre;
                color: $very-dark-violet;
                text-overflow: ellipsis;
            }

            .result-right-side {
                padding: 1em 0 0 0;

                .short-link {
                    display: inline-block;
                    padding-bottom: 1em;
                    font-size: 1rem;
                    color: $cyan;
                }
        
                .copy-button {
                    width: 100%;
                    font-size: 1em;
                    border-radius: 5px;
                }
            }

            &:not(:first-child) {
                margin-top: 2em;
            }
        }
    }

    .presentation-intro {
        padding: 6em 0 0 0;

        h2 {
            color: $very-dark-blue;
            text-align: center;
            padding-bottom: 1em;
        } 

        p {
            color: $grayish-violet;
            text-align: center;
            font-size: .8em;
            max-width: 360px;
        }
    }

    .presentation-cards {
        position: relative;
        background: transparent;
        max-width: 1440px;

        .card {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
                    align-items: center;
            max-width: 360px;
            padding-top: 3em;

            .icon-card {
                background: $dark-violet;
                padding: 1em;
                margin: 0 auto -35px auto;
                border-radius: 50%;
                z-index: 2;

                svg {
                    display: block;
                }
            }

            .text-card {
                background: white;
                padding: 4em 1em 2em 1em;
                border-radius: 10px;

                h3 {
                    color: $very-dark-blue;
                    text-align: center;
                    padding-bottom: .8em;
                }

                p {
                    color: $gray;
                    text-align: center;
                    font-size: .8rem;
                }

            }
        }
    }

    .presentation-cards:before {
        content: '';
        position: absolute;
        top: 7em;
        left: 49%;
        height: calc(100% - 7em);
        width: 6px;
        background: $cyan;
        z-index: -1;
    }
}