#section-1 {
    padding: 2em 1em 4em 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1440px;
    width: 100%;
    
    .illustration-intro {
        width: 60vh;
        height: auto;
        position: relative;
        left: 20%;
        z-index: -1;
        opacity: 0;
        animation: 1.5s ease-out 500ms forwards fadeIn;
    }

    .text-intro {
        -ms-flex-item-align: center;
            align-self: center;
        padding-top: 2em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        opacity: 0;
        -webkit-animation: 1.5s ease-out 500ms forwards fadeIn;
                animation: 1.5s ease-out 500ms forwards fadeIn;
        
        h1 {
            text-align: center;
            font-size: 2em;
            line-height: 1.3em;
            color: $very-dark-blue;
        }

        p {
            color: $grayish-violet;
            text-align: center;
            padding: 1em 0 1.5em 0;
        }

        button {
            text-align: center;
            font-size: 16px;
            font-size: 1rem;
            -webkit-animation: 2s wiggleButton;
            animation: 2s wiggleButton;
            -webkit-animation-iteration-count: 4;
                    animation-iteration-count: 4;
            -webkit-animation-delay: 1.5s;
                    animation-delay: 1.5s;
        }
    }
}

@-webkit-keyframes fadeIn {
    0% { 
        opacity: 0; 
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    100% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    100% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}

@-webkit-keyframes wiggleButton {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    80% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    85% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
    90% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
    100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}

@keyframes wiggleButton {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    80% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    85% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
    90% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
    100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}