/* --------------------------------- HEADER ----------------------------------- */
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 3em 1.5em 1em 1.5em;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;

    #logo {
        width: 146px;
        height: 24px;
    }

    #open-menu {
        display: block;
    }

    #close-menu {
        display: none;
        z-index: 10;
        
    }

    #mobile-menu-wrapper {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: -webkit-linear-gradient(top, rgba(129, 94, 94, 0.1), rgba(0, 0, 0, .5));
        background: linear-gradient(to bottom, rgba(129, 94, 94, 0.1), rgba(0, 0, 0, .5));
        
    }

    .header-nav {
        display: none;
        position: absolute;
        margin: 4em auto;
        width: 90vw;
        height: auto;

        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            background: white;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 1.5em 0;
            width: 100%;

            li {
                list-style: none;
                padding: .7em 0;

                a {
                    color: $dark-blue;
                    font-weight: 700;
                }

                a:hover, a:focus {
                    color: $dark-grayish-blue;
                }
            }
        }
    }

    #header-get-started {
        display: none;
        width: 160px;

        button {
            width: 100%;
        }
    }
}